.Dictionary{
    text-align: center;
}

input{
    width: 300px;
    height: 44px;
    font-size: 22px;
    border-radius: 6px;
    border-color: rgb(8, 77, 56);
    border-width: 3px;
}

button{
    width: 100px;
    height: 44px;
    font-size: 22px;
    border-radius: 6px;
    color: white;
    background-color: rgb(8, 77, 56);
    border-width: 0px;
    margin-left: 6px;

}