.Results{
    margin:70px;
}

h2{
    font-size: 38px;
}

.phonetic{
    font-size: 28px;
    font-weight: lighter;
    padding-left: 8px;
}

p{
    display:inline;
    line-height: 1.6em;
    font-size: 18px;
}

.Phonetics{
    text-decoration: none;
}