.Synonyms{
    list-style: none;
    line-height: 1.7em;
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: 22px;
  font-weight: 600;
  color: rgb(9, 65, 48);
  padding-top: 10px;
}